<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <!-- :sessi on => make an object that is not active record -->
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', id: "email" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', id: "password" %>

      <%= f.label :remember_me, class: 'checkbox inline' do %>
        <%= f.check_box :remember_me, id: "remember" %>
        <aside>Remember me!</aside >
      <% end %>
      <%= f.submit "Sign in", class: "btn btn-primary signin" %>
    <% end %>
  </div>
</div>
