<p>
  <h1>Event:</h1>
  <h3><%= @event.title %></h3>
</p>

<p>
  <h1>Details:</h1>
  <h3><%= @event.text %></h3>
</p>

<br>
<br>

<strong>Comments</strong>
<%= render @event.comments %>
<br>
<strong>Add a comment:</strong>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> |
<%= link_to "Delete", event_path, method: :delete %>

