<h1>Matches</h1>

<h2><%= current_user.first_name.capitalize %> you have <%= pluralize(@combined_matches.count, "match") %> </h2>

<span id = "startSession">
  <button>Available to chat</button>
</span>

<% @combined_matches.each do |match| %>
  <%if match.user.id == current_user.id %>
  <div class="col-sm-6 col-md-4">
    <div id='card'>
      <div id='front'>
        <h1>
          <%= match.connection.first_name%> <%= match.connection.last_name%>
        </h1>
      </div>
      <div id='back'>
        <strong><%= mail_to match.connection.email %></strong>
        <strong><%= match.connection.contact_number %></strong><br>
        <strong><%= match.connection.twitter %></strong><br>
        <strong><%= match.connection.linkedin %></strong><br>

      </div>
    </div>
      <% else %>
      <div class="col-sm-6 col-md-4">
        <div id='card'>
          <div id='front'>
            <h1>
              <%= match.user.first_name%> <%= match.user.last_name%>
            </h1>
          </div>
          <div id='back'>
            <strong><%= mail_to match.user.email %></strong>
            <strong><%= match.user.contact_number %></strong><br>
            <strong><%= match.user.twitter %></strong><br>
            <strong><%= match.user.linkedin %></strong><br>
          </div>
        </div>



        <span id = "startChat">
          <button>Click me </button>
        </span>

      <span id = "endChat">
        <button> End Chat </button>
      </span>

      <% end %>
<%end%>
