<h1>Matches</h1>

<h2><%= current_user.first_name.capitalize %> you have <%= pluralize(current_user.matches.count, "match.") %> </h2>


<% current_user.matches.each do |match| %>
  <div class="col-sm-6 col-md-4">
    <div id='card'>
      <div id='front'>
        <h1>
          <%= match.connection.first_name%> <%= match.connection.last_name%>
        </h1>
      </div>
      <div id='back'>
        <strong><%= mail_to match.connection.email %></strong>
        <strong><%= match.connection.contact_number %></strong><br>
        <strong><%= match.connection.twitter %></strong><br>
        <strong><%= match.connection.linkedin %></strong><br>
      </div>
    </div>
  </div>
<%end%>
