<%= provide(:title, current_user.first_name)%>

<h1>Swipecard Test</h1>
    <% if @potential_connection.nil?%>
      <p>You went through all the people!</p>
    <% else %>
      <section>
        <div class="cardcontainer list">
          <ul class="cardlist">

          <section style="width:100%; height: 100%; background-color:red;">
            <%= gravatar_for @potential_connection%>
            <div>
              <%= @potential_connection.first_name%><%= @potential_connection.last_name%>
            </div>

          </section>
          </ul>
            <button class="but-nope"><%= link_to "No",
                                      matches_show_path%></button>
            <button class="but-yay"><%= button_to "Yes",
                                      user_yes_path(@potential_connection.id),
                                   :method => "user_clicks_button_to_connect"%>
            </button>
            <span id="counter"></span>
          </div>
          <ul class="cardlist" id="results">
          </ul>
        </section>
      <% end %> 


      <!--   <p>
        <h3> Matches </h3>
        <%# @connecton_name= current_user.matches.first %><br>
        <%# if @connection_name.nil? %>
          <p> No matches yet </p>
          <%#else %>
          <%#= @connection_name.connection.first_name %>
          <%# end %>
        <%# @other_connection_name = connection_match.first %>
        <%# if @other_connection_name.nil? %>
          <p> No matches yet </p>
          <%#else %>
          <%#= @other_connection_name.user.first_name %>
          <%# end %><br>

        <h3> Business Cards </h3>

<<<<<<< HEAD
        <% if @potential_connection.nil?%>
          <p>You went through all the people!</p>
        <% else %>
        <h3><%= @potential_connection.first_name %></h3>
        <%= button_to "Yes", user_yes_path(@potential_connection.id), :method => "user_clicks_button_to_connect"%>
        <%= link_to "No", matches_show_path %>
        <% end %>
=======

        <%#= @potential_connection.first_name%>


        <%#= button_to "Yes", user_yes_path(@potential_connection.id), :method => "user_clicks_button_to_connect"%>
        <%#= button_to "No", matches_show_path%>

>>>>>>> ab044c839160ae2fbcfbe62788cbc2ffcbdcafa9
      </p>
    </section>
  </aside>
</div>
 -->
