<%= provide(:title, current_user.first_name)%>
<body class="swipecard">
  <h1>Find Match</h1>
    <span class=""><%= link_to match_path, style: "color:#FFF;" do %>
        <i class="searchPlus fa fa-search-plus fa-3x"></i>
        <div id="hover5">See matches!</div>
      <%end%>
    </span>
  <% if @potential_connection.nil?%>
    <p class="text-center" style="margin-top: 5em;">You went through all the people!</p>
    <% else %>
      <section class="container">
        <div class="cardcontainer list">
          <ul class="cardlist">

            <section id="elSection">
              <div id="gravatar">
                <%= gravatar_for @potential_connection%>
              </div>

              <div id="showName">
                <%= @potential_connection.first_name.capitalize%> <%= @potential_connection.last_name.capitalize%>
              </div>

              <div id="elJob">
                <%= @potential_connection.job_title%>
              </div>

              <div id="elCompany">
                <%= @potential_connection.company_name%>
              </div>

            </section>
          </ul>

        <span id="thumbsDown">
          <%= link_to matches_show_path, class: "but-nope" do %>
            <i class="fa fa-thumbs-o-down fa-5x"></i>
          <% end %>
        </span>
        <span id="thumbsUp"><%= link_to user_yes_path(@potential_connection.id),
          :method => "user_clicks_button_to_connect", class: "but-yay" do %>
            <i class="fa fa-thumbs-o-up fa-5x"></i>
          <%end%>
        </span>

        </div>
      </section>
  <% end %>
</body>
